---
import PlazzaLayout from '../layouts/PlazzaLayout.astro';
import SiteHeader from '../components/plazza/SiteHeader.astro';
import Hero from '../components/plazza/Hero.astro';
import SearchResults from '../components/plazza/SearchResults.astro';
import ComoFunciona from '../components/plazza/ComoFunciona.astro';
import Beneficios from '../components/plazza/Beneficios.astro';
import FAQ from '../components/plazza/FAQ.astro';
import FinalCTA from '../components/plazza/FinalCTA.astro';
import SiteFooter from '../components/plazza/SiteFooter.astro';
---
<PlazzaLayout>
  <SiteHeader />
  <main>
    <Hero />
    <SearchResults />
    <ComoFunciona />
    <Beneficios />
    <FAQ />
    <FinalCTA />
  </main>
  <SiteFooter />
</PlazzaLayout>
